.home-h1 {
  margin: 20px;
}

.j-tron {
  font-family: "Roboto", sans-serif;
}

.l-1 {
  font-size: 2.8vh !important;
}

.l-2 {
  font-size: 2.3vh;
}

.j-btn {
  border-radius: 32px !important;
}

.p-btn {
  border-radius: 32px !important;
  font-family: "Roboto", sans-serif;
}
