.home-h1 {
  margin: 20px;
}

.j-tron {
  font-family: "Roboto", sans-serif;
}

.l-1 {
  font-size: 2.8vh !important;
}

.l-2 {
  font-size: 2.3vh;
}

.j-btn {
  border-radius: 32px !important;
  width: 160px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.p-btn {
  border-radius: 32px !important;
  width: 160px;
  font-family: "Roboto", sans-serif;
}

.git-btn {
  margin-left: 30px;
  width: 160px;
  border-radius: 32px !important;
  font-family: "Roboto", sans-serif;
}
